* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  font-size: 14px;
  font-weight: normal;
  padding-top: 60px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
}
.search-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

button.is-hidden {
  display: none;
}

button {
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  color: blue;
  background-color: burlywood;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  margin-left: 20px;

  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition-property: background-color, color, border;
  transition-duration: 500ms;
  transition-timing-function: linear;
}

button:hover {
  animation: animate125 2000ms infinite 10ms;
  background-color: rgb(179, 136, 77);
  color: rgb(9, 9, 51);
  border: 1px solid rgb(9, 9, 51);
}

.input-search {
  width: 50%;
  height: 40px;
  border-radius: 4px;
  padding: 2px 10px;
  margin-right: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  max-width: calc(100vw - 80px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.info {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}
.info-item {
  text-align: center;
}
.info-item:not(:last-child) {
  margin-right: 15px;
}
.gallery img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
